@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.bg-white{
    max-width: 100%;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #444;
    padding: 40px;
    background: rgba(255, 255, 255, .8);
    box-sizing: border-box;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    border-radius: 24px;
}
.login-box{
    top: 50%;
    left: 50%;
    color: #444;
    padding: 12px;
    border-radius: 24px;
}
.textbox {
    width: 100%;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
}
.textbox input {
    padding: 0px 10px 0px 10px;
    height: 40px;
    border-radius: .25rem;
    font-size: 18px;
    width: 100%;
}
.container-sm{
    padding: 0px 20px;
    margin: 8px 0;
}
.col-sm-6{
    padding-right: 0px;
}
#test{
    padding-left: 0px;
    font-size: 12px;
}
#text1{
    font-size: 12px;
}
.container{
    padding-right: 0px;
    padding-left: 0px;
}
.span{
    font-size: 12px;
}
#paksa{
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}
a{
    color: #000;
}