@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.bg-white{
    max-width: 100%;
    width: 360px;
    height: 740px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #444444;
    background: rgba(255, 255, 255, .8);
    box-sizing: border-box;
    /*box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    border-radius: 24px;*/
}
.pengatur{
    top: 50%;
    left: 50%;
    color: #444;
    padding: 20px 20px 0px 20px;
    border-radius: 24px; 
    width: auto;   
}
.navigasi{
    margin-top: 0px;
    width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 30px;
}
li a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 2px 15px;
    text-decoration: none;
}  
li a:hover {
    background-color: #111;
}
.menu{
    float: left;
    padding: 2px 20px;
}
.card{
    margin-bottom: 15px;
    padding: 15px;
    width: 320px auto;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    border-radius: 12px;
}
.container-sm{
    padding: 0;
    margin-bottom: 0px;
}
#kategori li a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
    font-size: 14px;
}
#cari{
    padding: 10px;
    font-size: 11px;
    border: 1px solid grey;
    float: left;
    width: 100%;
    background: #f1f1f1;
    margin-bottom: 15px;
    border-radius: 12px;
}